nav{ 
    background-color:grey;
    width: 20%;
    height: 1000px;
    float:left ;

}
div{
background-color: cadetblue;
height: 1000px
}
body{
    margin:0px;
}
.header{
    background-color: cornflowerblue;

}
.footer{
    color: seashell;
    background-color: black;
}